<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de paiement</title>
</head>
<body style="font-family: Arial, sans-serif; color:#333;">
<h2>Bonjour <span th:text="${customerName}">Client</span>,</h2>

<p>
    Nous avons bien reçu votre paiement d’un montant de
    <strong th:text="${amount}">0.00</strong> MAD
    pour la commande <strong th:text="${orderReference}">#REF123</strong>.
</p>

<p>
    Merci pour votre confiance et votre achat !
</p>

<p>
    L’équipe <strong>E-commerce</strong>.
</p>
</body>
</html>
